<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @post do |f| %>
      <div class="form-group">
        <%= f.text_field :title, class: "form-control input-lg", placeholder: "title" %>
      </div>

      <div class="form-group">
        <%= f.text_field :img_url, class: "form-control input-lg", placeholder: "img_url" %>
      </div>

      <div class="form-group">
        <%= f.text_area :body, rows: "15", class: "form-control input-lg", placeholder: "body" %>
      </div>

      <%= f.submit "Edit Post!", class: "btn-success btn-block btn-lg" %>

    <% end %>
    <br>
    <%= link_to 'Back', @post %>
  </div>
</div>
