<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= @post.title %></h1>
    <p><%= markdown(@post.body) %></p>
    <% if user_signed_in? && current_user == @post.user %>
      <%= link_to link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_post_path(@post) %>
      <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
    <br>
    <br>
    <%= link_to 'Back', posts_path %>
    <hr>
    <div class="comments">
      <h2>Comentarios</h2>

      <% @post.comments.each do |comment| %>
        <div class="panel panel-default">
          <header class="panel-heading"><%= comment.user.email %></header>
          <div class="panel-body"><%= comment.body %></div>
        </div>
      <% end %>

      <% if signed_in? %>
        <%= form_for [@post, @post.comments.build] do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario" %>
          </div>
          <div class="actions">
            <%= f.submit "Comentar", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

